/*-------
Global CSS Settings
-------*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    margin: 0 auto;
    font-size: .9em;
    font-weight: 300;
    color: #969ca2;
    text-align: center;
    max-width: 600px;
    background-image: url("../img/backgroundbottom.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
}

.siteHeader {
    margin: 10px auto;
    color: white;
    font-size: 1.4em;
    font-weight: 400;
}

header {
    padding: 20px 0;
    background: #2d3945;
}

footer {
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 100px;
    font-style: italic;
}

h2, legend {
    color: #2d3945;
}



/*-------
Form Settings
-------*/

.formIntro {
    border-bottom: 1px solid #2d3945;
    width: 95%;
    margin: 10px auto;
}

.introP {
    padding-bottom: 10px;  
}

.formIntro::after {
    display: block;
    content: "";
    border-top: 2px solid #2d3945;
    padding-bottom: 2px;
}

legend {
    padding: 10px 0;
    font-weight: bold;
    font-size: 1.3em;
}

.lowerborder::after {
    display: block;
    height: 20px;
    margin: 0 auto;
    content: "";
    width: 98%;
    border-bottom: 1.5px solid #2d3945;
}

fieldset {
    text-align: left;
    border: none;
    margin: 0;
}

.newsletterLabels {
    padding-top: 20px;
}

.button {
    padding: 9px;   
}

button {
    width: 100%;
    background-color: #52bab3;
    color: white;
    font-size: 1.3em;
    font-weight: 400;
    border-radius: 3px;
    padding: 15px;
    border: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    display: block;
    width: 100%;
    background: #eaebec;
    border-radius: 3px;
    padding: 15px;
    border: none;
    font-size: .8em;
    height: 44px;
    margin-top: 5px;
    margin-bottom: 5px;
}

textarea {
    height: 80px;
    resize: none;   
}

input, 
textarea, 
select:focus {
    outline-color: #2d3945;
}

#zipcode {
    width: 40%;
}

label {
    display: inline-block;
    font-size: .8em;
    padding-top: 10px;
    padding-bottom: 5px;
}

::-webkit-input-placeholder {
   text-align: right;
   font-style: italic;
}

select {
    -webkit-appearance: none;
    background-image: url("../img/arrow.png");
    background-repeat: no-repeat;
    background-position: right;
    font-style: italic;   
}

select:first-child {
    font-style: italic;
}

input[type="checkbox"] {
    display: none;
}

input[type="radio"] {
    display: none;
}


input[type="checkbox"] + label span {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-image: url("../img/checkbox.png");
    background-size: 20px;
    background-repeat: no-repeat;   
}

input[type="checkbox"]:checked + label span {
    background-image: url("../img/checkbox-checked.png");
    background-size: 20px;
    background-repeat: no-repeat;
}

input[type="radio"] + label span {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-image: url("../img/radio.png");
    background-size: 20px;
    background-repeat: no-repeat;   
}

input[type="radio"]:checked + label span {
    background-image: url("../img/radio-checked.png");
    background-size: 20px;
    background-repeat: no-repeat;
}

input:invalid {
    border: 2px solid #2d3945;
}



/*-------
Effects
-------*/

input,
textarea {
    transition: background-color 2s;
}

input:focus,
textarea:focus {
    background-color: antiquewhite;
}


/*-------
Media Queries
-------*/

@media screen and (min-width: 760px) {
    
body {
    font-size: 1em;    
}
    
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="text"],
input[type="text"],
select {
    display: inline-block;
    width: 74%;
    margin-bottom: 25px;
}

label[for="fullname"],
label[for="email"],
label[for="phone"],
label[for="address"],
label[for="city"],
label[for="state"],
label[for="zipcode"] {
     width: 25%;
}
}

